src/main/mule/munitcreaterecord.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ecd17cde-244b-49c2-a72c-c5146f0b767b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="fetchFromSampleDb" doc:name="Database Config" doc:id="2c250a4a-92df-4c3e-8f97-666de0836d2c" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.pass}" database="${db.database}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="965a20ee-86d2-49d0-9f24-c5383a3b1a56" file="munit-create-record.yaml" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="0c99ae01-3bf8-464e-9b1c-1bb9a493b84d" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="munitcreaterecordFlow" doc:id="6e319d9a-b770-4b40-adfd-87a38969c6e6" >
		<http:listener doc:name="Listener" doc:id="faf5c788-f540-48a4-98b6-92682682b597" config-ref="HTTP_Listener_config" path="record"/>
		<db:select doc:name="Select" doc:id="1d687a48-e2c6-48b1-9b76-1ea9b2b48146" config-ref="${db.config}">
			<db:sql >${db.query}</db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="b06be653-9cbb-42ac-879f-a41ce81682f1" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="1414b9dd-b14f-4ea4-9cc3-bd0f1115cf72" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dbb7191b-2afd-4d1c-af32-b8067c679b7b" message="#[payload]"/>
	</flow>
</mule>
